#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #f3f3f3;
    border-right: 2px solid #000;
}

#navbar header {
    font-size: 20px;
    font-weight: 700px;
    padding: 5px;
    text-align: center;
}

#navbar ul{
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.nav-link{
    display: block;
    padding: 5px;
    color: black;
    text-decoration: none;
    border-top: 1px solid #000;
}

#main-doc {
    margin-left: 220px;
}

#main-doc header {
    font-size: 20px;
    font-weight: 1000;
}

.main-section {
    margin-bottom: 20px;
}

.main-section p, ul{
    margin: 5px 0px 5px 10px;
}

code {
    display: block;
    line-height: 2;
    margin-left: 30px;
    background-color: #dadada;
    padding: 10px;
    border-radius: 5px;
}


@media only screen and (max-width: 500px){

    #navbar ul{
        border: 1px solid;
        height: 110px;
        margin-left: 0;
    }

    #navbar{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        max-height: 150px;
        border: none;
        border-bottom: 2px solid #000;
        z-index: 1;
    }

    #main-doc {
        margin-top: 170px;
        margin-left: 20px;
    }
}